ul {
  list-style: none;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.contents_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidenav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
}

.contents {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.gnav {
  display: block;
}

.gnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.gnav__item + .gnav__item {
  margin-left: 1rem;
}

